<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AnimaKu - Anime/Manga Tracker</title>
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      href="/images/icons/favicon.ico"
      type="image/x-icon"
    />

    <!-- Remix Icon -->
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.6.0/fonts/remixicon.css"
      rel="stylesheet"
    />

    <!-- CSS Stuff -->
    <link rel="stylesheet" href="/css/tailwind.css" />
    <link rel="stylesheet" href="/css/styles.css" />

    <!-- Static JS -->
    <script src="/js/index.js" defer></script>
  </head>
  <body>
    <header><%- include('partials/navbar.ejs') %></header>

    <main class="mx-auto my-4 w-screen max-w-screen-xl lg:my-12">
      <section id="anime-title" class="p-4 xl:p-0">
        <div class="anime-title-container flex flex-col md:flex-row gap-4">
          <!-- Cover & Action Button -->
          <div
            class="bg-[#3b4252] p-6 rounded-xl shadow-md flex flex-col gap-4 shrink-0"
          >
            <!-- Title on mobile, hidden when viewport > 768px -->
            <div class="title md:hidden">
              <h1 class="font-semibold text-xl text-[#eceff4]">
                Attack On Titan
              </h1>
            </div>
            <div class="cover">
              <!-- Cover Image -->
              <img
                class="aspect-3/4 h-full w-full rounded-md object-cover"
                src="https://media.kitsu.app/anime/poster_images/7442/small.jpg"
                alt="anime cover"
              />
            </div>

            <!-- Button Action -->
            <div class="actions">
              <button
                class="self-start rounded-md bg-[#88c0d0] px-4 py-2 font-medium text-[#3b4252] hover:bg-[#94d0e0] transition-colors w-full"
              >
                Add to List
              </button>
            </div>
          </div>

          <!-- Title & Description -->
          <div class="bg-[#3b4252] p-6 rounded-xl shadow-md">
            <!-- Title -->
            <h1 class="font-semibold text-xl text-[#eceff4] max-md:hidden">
              Attack On Titan
            </h1>
            <h1 class="font-semibold text-xl text-[#eceff4] md:hidden">
              Description
            </h1>

            <!-- Synopsis -->
            <div
              class="mt-2 text-gray-300 text-sm leading-relaxed text-justify"
            >
              <p
                class="max-h-[20rem] md:max-h-[24rem] overflow-y-auto pr-4 lg:pr-16 scrollbar-thin scrollbar-thumb-[#4c566a] scrollbar-track-[#3b4252]"
              >
                <%- synopsis %>
              </p>
            </div>
          </div>
        </div>
      </section>

      <section id="meta"></section>
    </main>
  </body>
</html>
