<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AnimaKu - Anime/Manga Tracker</title>
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      href="/images/icons/favicon.ico"
      type="image/x-icon"
    />

    <!-- Remix Icon -->
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.6.0/fonts/remixicon.css"
      rel="stylesheet"
    />

    <!-- CSS Stuff -->
    <link rel="stylesheet" href="/css/tailwind.css" />
    <link rel="stylesheet" href="/css/styles.css" />

    <!-- Static JS -->
    <script src="/js/index.js" defer></script>
  </head>
  <body>
    <header><%- include('partials/navbar.ejs') %></header>

    <main class="mx-auto my-6 w-screen max-w-screen-xl md:my-12">
      <section class="anime-title p-4 xl:p-0">
        <div
          class="cover-and-cta flex flex-col items-stretch gap-4 rounded-xl bg-[#3b4252] p-4 shadow-md sm:flex-row"
        >
          <!-- Image -->
          <div class="w-full flex-shrink-0 sm:w-1/3">
            <img
              class="aspect-3/4 h-full w-full rounded-md object-cover"
              src="https://media.kitsu.app/anime/poster_images/7442/small.jpg"
              alt="anime cover"
            />
          </div>

          <!-- Right Side: Title + Button -->
          <div class="flex w-full flex-col justify-between">
            <h3 class="mb-4 text-lg font-semibold text-white sm:mb-2">
              Title goes here
            </h3>

            <button
              class="self-start rounded-md bg-[#88c0d0] px-4 py-2 font-medium text-gray-900 transition-colors hover:bg-[#81a1c1]"
            >
              ➕ Add to List
            </button>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
