@import url('colors.css');
@import url('global.css');

.btn-home {
	color: var(--text-secondary);
	opacity: 80%;
	transition: all 300ms ease;
}

.btn-home:hover {
	filter: brightness(1.1);
	opacity: 100%;
}

#login-container {
	background-color: var(--bg-secondary);
	border-color: var(--border-accent);
	color: var(--text-primary);
}

#login-container > header {
	color: var(--text-primary);
}

#login-container > header > p {
	color: var(--text-secondary);
	opacity: 80%;
}

.input {
	background-color: var(--bg-tertiary);
	border-color: var(--border-color);
}

.input.validator:focus-within {
	border-color: var(--border-accent);
}

.input i {
	color: var(--text-secondary);
	opacity: 60%;
}

#email,
#password {
	color: var(--text-primary);
}

#email::placeholder,
#password::placeholder {
	color: var(--text-secondary);
	opacity: 60%;
}

.validator {
	@layer daisyui.l1.l2.l3 {
		&:user-valid,
		&:has(:user-valid) {
			&,
			&:focus,
			&:checked,
			&[aria-checked='true'],
			&:focus-within {
				--input-color: var(--success) /* var(--color-success) */;
			}
		}
		&:user-invalid,
		&:has(:user-invalid),
		&[aria-invalid]:not([aria-invalid='false']),
		&:has([aria-invalid]:not([aria-invalid='false'])) {
			&,
			&:focus,
			&:checked,
			&[aria-checked='true'],
			&:focus-within {
				--input-color: var(--error) /* var(--color-error) */;
			}
			& ~ .validator-hint {
				visibility: visible;
				color: var(--error) /* var(--color-error) */;
			}
		}
	}
	&:user-invalid,
	&:has(:user-invalid),
	&[aria-invalid]:not([aria-invalid='false']),
	&:has([aria-invalid]:not([aria-invalid='false'])) {
		& ~ .validator-hint {
			display: revert-layer;
		}
	}
}

.btn-submit {
	background-color: var(--primary);
	color: var(--bg-primary);
	transition: all 200ms ease;
}

.btn-submit:hover {
	filter: brightness(1.1);
}

.form-divider {
	color: var(--bg-tertiary);
	filter: brightness(1.3);
}

.btn-google {
	border-color: var(--border-accent);
	transition: all 200ms ease;
}

.btn-google:hover {
	background-color: var(--bg-tertiary);
	color: var(--text-primary);
}
.text-signup {
	color: var(--text-secondary);
}

.signup {
	color: var(--primary);
	opacity: 100%;
}

.signup:hover {
	filter: brightness(1.1);
}

#toggle-password:hover {
	background-color: var(--bg-primary);
	filter: brightness(1.1);
}
