/* Font Setup */
@font-face {
	font-family: "JetBrains Mono";
	src: url(../fonts/JetBrainsMono.ttf);
	font-weight: 100 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "JetBrains Mono";
	src: url(../fonts/JetBrainsMono-Italic.ttf);
	font-weight: 100 800;
	font-style: italic;
	font-display: swap;
}
