@import "tailwindcss";

/* Font Face */
@font-face {
  font-family: "Rubik";
  src: url("/fonts/Rubik-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Rubik Italic";
  src: url("/fonts/Rubik-Italic-VariableFont_wght.ttf") format("truetype");
  font-style: italic;
  font-display: auto;
}

/* Default Style */
body {
  background-color: #2e3440;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
input,
label {
  font-family: "Rubik";
}

button {
  cursor: pointer;
}

/* Remix Icon */
.ri-menu-line,
.ri-close-large-line {
  color: #eceff4;
}

/* Navbar Styles */
.nav-container {
  background-color: #3b4252;
}

.nav-item {
  color: #eceff4;
}

.nav-item:hover {
  background-color: #88c0d0;
  color: #2e3440;
}

.btn-github {
  background-color: #3b4252;
  color: #eceff4;
  border: solid 2px #4c566a;
}

.btn-github:hover {
  border-color: #88c0d0;
  color: #88c0d0;
}

.btn-menu {
  border: solid 2px #4c566a;
}

/* Mobile Navbar */
.mobile-nav {
  background-color: #3b4252;
}

.mobile-nav {
  height: 100%;
}

/* *Hero Section* */
.hero-section {
  background-image: url("/images/hero-image.webp");
  background-size: cover;
  background-position: center;
}

.image-overlay {
  background-color: #2e343f;
  opacity: 60%;
}

.hero-title-blue {
  color: #88c0d0;
}

.btn-get-started {
  background-color: #88c0d0;
  color: #2e3440;
}

.btn-get-started:hover {
  background-color: #94d0e0;
}

.btn-documentation {
  background-color: #2e3440;
  color: #eceff4;
  border: solid 2px #4c566a;
}

.btn-documentation:hover {
  color: #88c0d0;
  border-color: #88c0d0;
}

/* *Browse Section* */
.panel {
  background-color: #3b4252;
}

.search-input,
.dropdown-input {
  background-color: #1f232c;
}

.search-input:focus,
.dropdown-input:focus {
  outline: 2px solid #88c0d0;
  outline-offset: 2px;
}

.btn-search {
  background-color: #88c0d0;
  color: #2e3440;
}

.btn-search:hover {
  background-color: #94d0e0;
}

/* Anime Overview Section */
